.search__input {
  width: 100%;
  height: calc( (100vw - 768px)/(1440 - 768) * (64 - 56) + 56px );
  background: #fff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  padding-left: 24px;
  outline: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.search__input:focus {
  border: 2px solid #347EFF;
}

.search__input:valid {
  color:  #1A1B22;
}

@media screen and (max-width: 768px) {
  .search__input {
    height: 56px;
  }
}
@media screen and (max-width: 470px) {
  .search__input {
    max-width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .search__input {
    max-width: 288px;
  }
}
