.header__logo {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 0 104px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    margin: 0 0 0 16px;
  }
}
