@import url(../results/__show-case/results__show-case.css);
@import url(../results/__title/results__title.css);
@import url(../results/__card-case/results__card-case.css);
@import url(../results/__button/results__button.css);
@import url(../results/__button/_disabled/results__button_disabled.css);
@import url(../results/__loading/results__loading.css);
@import url(../results/__loading/_hidden/results__loading_hidden.css);
@import url(../results/__nothing/results__nothing.css);
@import url(../results/__not-logo/results__not-logo.css);
@import url(../results/__not-title/results__not-title.css);
@import url(../results/__not-text/results__not-text.css);
@import url(../results/_hidden/results_hidden.css);

.results {
  padding: 80px 7%;
  background: #f5f6f7;
  margin: 0;
}

.results__show-case_hidden {
  display: none;
}

.results__nothing_hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .results {
    padding: 5.2%;
    background: #f5f6f7;
    margin: 0;
  }

}

@media screen and (max-width: 425px) {
  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    margin: 0;
  }
}
