@import url(../results/__show-case/results__show-case.css);
@import url(../results/__title/results__title.css);
@import url(../results/__card-case/results__card-case.css);
@import url(../results/__button/results__button.css);
@import url(../results/__loading/results__loading.css);
@import url(../results/__nothing/results__nothing.css);
@import url(../results/__not-logo/results__not-logo.css);
@import url(../results/__not-title/results__not-title.css);
@import url(../results/__not-text/results__not-text.css);

.results {
  padding-top: 80px;
  background: #f5f6f7;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.results__show-case_hidden {
  display: none;
}

.results__loading_hidden {
  display: none;
}

.results__nothing_hidden {
  display: none;
}
