.footer__links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media screen and (max-with: 767px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 520px) {
  .footer__links {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 74px;
  }
}
