.card__button {
  background: #fff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-image: url('../../../images/bookmark.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.card__button:hover {
  background-image: url('../../../images/bookmark_hover.svg');
}

.card__button_marked {
  background-image: url('../../../images/bookmark_marked.svg');
}
