.footer__link {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #1A1B22;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .footer__link {
    line-height: 48px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 520px) {
  .footer__link {
    line-height: 48px;
    margin-left: 0;
  }
}
