@import url(../__connect/_go/popup__connect_go.css);

.popup__connect {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
  text-decoration: none;
  margin-left: 5px;
}

.popup__connect_success {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
  padding: 16px 0;
}
