.footer__case {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 104px;
}

@media screen and (max-width: 768px) {
  .footer__case {
    margin: 0 40px;
    min-height: 64px;
  }
}
