.footer__case {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 104px;
}

@media screen and (max-width: 767px) {
  .footer__case {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 16px;
    height: 100%;
  }
}
