.menu__button_theme_black {
  width: 112px;
  height: 48px;
  border: 1px solid #1A1B22;
  background: none;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1B22;
}

.menu__button_theme_black::after {
  content: url('../../../../images/logout_blck.svg');
  margin-left: 5px;
  top: 2px;
}
