.menu__button_theme_black {
  min-height: 48px;
  border: 1px solid #1A1B22;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  }
