.footer__icon {
  width: 22px;
  height: 22px;
  margin:0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__link {
    line-height: 48px;
    margin-left: 0;
    margin-left: 25px;
  }
}
