.card__image {
  width: 100%;
  min-height: 272px;
  background-image: url('../../../images/parks.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .card__image {
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .card__image {
    height: 196px;
  }
}
