.results__card-case {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px 16px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .results__card-case {
    grid-gap: 8px 8px;
  }
}

@media screen and (max-width: 767px) {
  .results__card-case {
    grid-template-columns: 288px;
  }
}
