.results__card-case {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px 16px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .results__card-case {
    grid-gap: 8px 8px;
  }
}
@media screen and (max-width: 700px) {
  .results__card-case {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 425px) {
  .results__card-case {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
