@import url(../../header/__menu-mob-icon/_active/.header__menu-mob-icon_active.css);

.header__menu-mob-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu-mob-icon {
    display: block;
    position: absolute;
    margin: 0 40px 0 0;
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .header__menu-mob-icon {
    margin: 0 16px 0 0;
  }
}
