.popup__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height:
  color: #000;
  opacity: .2;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border: 0;
}
