.card__state {
  background: #fff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-image: url('../../../images/bookmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.card__state:hover {
  background-image: url('../../../images/bookmark_hover.svg');
  cursor: pointer;
}

.card__state_marked {
  background-image: url('../../../images/bookmark_marked.svg');
}
