@import url(../menu/__item/menu__item.css);
@import url(../menu/__item/_logoff/menu__item_logoff.css);
@import url(../menu/__link/menu__link.css);
@import url(../menu/__link/_colour/menu__link_colour_white.css);
@import url(../menu/__link/_active/menu__link_active.css);
@import url(../menu/__button/menu__button.css);
@import url(../menu/__icon-logout/menu__icon-logout.css);

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
  }
  .menu_hidden {
    display: none;
  }
  .menu_shown {
    display: flex;
  }
}
