.author__avatar {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .author__avatar {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .author__avatar {
    margin: 32px auto 0;
  }
}
