.footer__icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 520px) {
  .footer__icons {
    position: absolute;
    top: 0;
    right: 0;
  }
}
