@import url(../popup/__content/popup__content.css);
@import url(../popup/__close/popup__close.css);
@import url(../popup/__form/popup__form.css);
@import url(../popup/__title/popup__title.css);
@import url(../popup/__input-container/popup__input-container.css);
@import url(../popup/__label/popup__label.css);
@import url(../popup/__input/popup__input.css);
@import url(../popup/__error-message/popup__error-message.css);
@import url(../popup/__error-message/_server/popup__error-message_server.css);
@import url(../popup/__text-case/popup__text-case.css);
@import url(../popup/__text/popup__text.css);
@import url(../popup/__connect/popup__connect.css);
@import url(../popup/__button/popup__button.css);
@import url(../popup/__button/_disabled/popup__button_disabled.css);
@import url(../popup/_hidden/popup_hidden.css);
@import url(../popup/_shown/popup_shown.css);


.popup {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
}
